<!-- TOPO DA HOME-->
<div class="container-saude">
  <div class="content-topo">
    <div class="text">
      <p class="first">Sua saúde</p>
      <p class="second">em primeiro lugar!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <p class="members">
        Tornar-se membro da nossa comunidade hospitalar?
        <a >Cadastrar</a>
      </p>
    </div>
    <div class="img">
      <img src="../../assets/Images/Group.png" alt="">
    </div>
  </div>

<!-- INICIO DE SERVIÇOS MEDICOS-->
  <div class="content-services">
    <h3>Nossos Serviços Médicos</h3>
    <div class="cards-services">
      <div class="card">
        <img src="../../assets/Images/labs.png" alt="">
        <h4>Laboratório bem equipado</h4>
      </div>

      <div class="card">
        <img src="../../assets/Images/ambulance.png" alt="">
        <h4>Ambulância de emergência</h4>
      </div>

      <div class="card">
        <img src="../../assets/Images/chat.png" alt="">
        <h4>
          Central de Atendimento</h4>
      </div>

      <div class="card">
        <img src="../../assets/Images/message.png" alt="">
        <h4>Agendamento on-line</h4>
      </div>
    </div>
  </div>

  <!-- INICIO DE MEDICOS-->
  <div class="content-medicos">
    <h3>Conheça os Médicos</h3>
    <div class="group1">
      <div class="card-med">
        <img src="../../assets/Images/Group159.png" alt="" class="img1">
        <h4>Dr. Robert Henry</h4>
        <p>Cardiologista</p>
        <img src="../../assets/Images/Raiting.png" alt="" class="raiting"><br/>
        <a class="button">Marcar Consulta</a>
      </div>

      <div class="card-med">
        <img src="../../assets/Images/Group160.png" alt="" class="img2">
        <h4>Dr. Harry Littleton</h4>
        <p>Neurologista</p>
        <img src="../../assets/Images/Raiting.png" alt="" class="raiting"><br/>
        <a class="button">Marcar Consulta</a>
      </div>
    </div>

    <div class="group2">
      <div class="card-med">
        <img src="../../assets/Images/Group161.png" alt="" class="img3">
        <h4>Dr. Sharina Khan</h4>
        <p>Ginecologista</p>
        <img src="../../assets/Images/Raiting.png" alt="" class="raiting"><br/>
        <a class="button">Marcar Consulta</a>
      </div>

      <div class="card-med">
        <img src="../../assets/Images/Group162.png" alt="" class="img4">
        <h4>Dr. Sanjeev Kapoor</h4>
        <p>Pediatra</p>
        <img src="../../assets/Images/Raiting.png" alt="" class="raiting"><br/>
        <a class="button">Marcar Consulta</a>
      </div>
    </div>
  </div>

    <!--INICIO DA NESWLETTER-->
  <div class="content-newsletter">
    <h3>Assine a nossa newsletter</h3>
    <input type="text" class="input-news" placeholder="Coloque seu email">
    <a class="enviar">Enviar</a>
  </div>

</div>
