<div class="container">
  <div class="text">
    <span class="lead">Sua saúde em primeiro lugar! <br />
    Encontre hospitais, médicos e horários disponíveis em um único lugar.</span>
      <br />
      <div class="botoes">
        <a [routerLink]="['agendamento']" class="button" type="button">
          Agendar consulta
        </a>

        <a [routerLink]="['agendamento']" class="button" type="button">
          Agendar consulta
        </a>
      </div>



  </div>
  <div class="imagem">
    <img src="../../assets/images/Group.png" class="img-fluid" alt="">
  </div>



</div>
