@import url("https://fonts.googleapis.com/css?family=Raleway");

*{
  font-family: "Raleway";
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Raleway";
}
