.detail-group {
  margin: 100px;
}

.container {
  background: #f4f4f4;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 2em;
  width: 50em;
  overflow: hidden;
}

.container .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detail-group div button {
  background-color: #6c757d;

  margin: 2px;

  width: 5em;
  height: 2em;
  border: none;
  border-radius: 0.5em;

  cursor: pointer;
}

.detail-group div .exclude {
  background-color: #df2a0a;

}
