<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand" href="#">Agendamento Consulta</a>
  <span class="material-icons">local_hospital</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ml-5" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/especialidade">Especialidade</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/agendamentoconfig">AgendamentoConfig</a>
      </li>
    </ul>
  </div>
</nav>
