<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-secondary border-bottom box-shadow">
    <div class="container-fluid">
      <a [routerLink]="['list']" class="nav-link">Agendamento Hospitalar</a>
      <div class="navbar-collapse collapse d-sm-inline-flex">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a [routerLink]="['principal']" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['agendamento']" class="nav-link">Agendamentos</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['beneficiarios/listartodos']" class="nav-link">Beneficiários</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['especialidade']" class="nav-link">Especialidades</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['hospital/listartodos']" class="nav-link">Hospitais</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['profissional']" class="nav-link">Profissionais</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </header>
